.div.content{
    position:absolute;
    z-index:3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div.Icon{
    display:flex;
    align-items: center;
    justify-content: center;
    width:80px;
    height:80px;
    flex:0 0 auto;
    margin-bottom: 2rem;
    border-radius: 50%;
    font-size: 40px;
    color: white;
}
.PlanTitle{
    font-size:3.25rem;
}
.PlanCost{
    font-size:3rem;
}
.FeatureListItem{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.325rem;
    }
.ActionButton{
    flex :0 0 Auto;
    height:40px;
    padding:0 2rem;
    border:0;
    border-radius: 20px;
    color:rgb(0,0,0,0.05);
    background: white;


}
